﻿﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}
/*Custom styles---------------------------------------------*/

.element-wrapper{
  background-color:rgb(132, 210, 255);
  border: 1px solid silver;
  border-radius: 5px;
  text-align: center;
  margin: 10px;
  padding: 15px;
  color: #404040;
  font-size: 22px;  
  box-shadow: 5px 5px 3px rgba(0,0,0, 0.5);
}

.small-text{
  font-size: 12px;
  font-style: italic;  
  line-height: 15px;
  text-align: left;
}
.long{
  width:400px;
}
.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.container2{
  display: flex;
  flex-wrap: wrap;
  justify-content:left;

}

.course-name-container{
  
}

.vote-container {
  background-color: #fefefe;
  border: 1px solid #404040;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  box-shadow: 5px 5px 3px rgba(0,0,0, 0.5);
}

.vote-course-container {
  background-color: lightgray;
  border: 1px solid #404040;
  border-radius: 2px;
  margin: 5px;
  padding: 5px;
  box-shadow: 2px 2px 2px rgba(0,0,0, 0.5);
}

.course-container{
  display: flex;
  flex-wrap: wrap;
  
  background-color: #fefefe;
  border: 1px solid #404040;
  border-radius: 5px;
  margin: 10px;
  padding: 20px;
  box-shadow: 5px 5px 3px rgba(0,0,0, 0.5);
}

.eq-button{
  width:100px;
}
/*-------------------------------------------------------------*/


/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}

