﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Lorem ipsum dolor sit amet, consequat quis vestibulum integer in suspendisse perspiciatis, vitae elit luctus quam dolor primis ante, hac id. Vel ornare. In turpis placerat, orci blandit pretium sed. Eu est non curabitur, lacus fusce pharetra, viverra curabitur, laoreet est sit esse. Vitae hendrerit, tortor risus tincidunt pede. Vel cras proin in, felis risus posuere eget dolor in, id wisi, id integer aliquam augue dictum laoreet, tincidunt magna nunc vestibulum aliquam urna.</p>
</div>
