@model AllCoursesVM

<h3>Complete list of courses</h3>

@{
    ViewData["Title"] = "All courses";   
}
<form method="post" asp-action="SetCourseStudentNumber">
    <input style="width:80px;" asp-for="@Model.StudentNumberModel.maximumstudents" />
    <input type="submit" value="Requery" /><br>
    <h5 class="text-danger" id="invalidData_id">@Model.StudentNumberModel.Err</h5>
</form>

<span id="total_id">Total courses in list : @Model.courseList.Count</span>
<div class="container2">
@foreach (var item in Model.courseList)
{
    <div class="course-container">
        <h3 class="col-md-12 course-name-container" >@item.CourseName</h3>
        <div class="col-md-4">
            <ul>
                <li>ID: @item.Id</li>
                <li>TeacherID: @item.TeacherId</li>
                <li>Room: @item.Room</li>
                <li>Weekdays: @item.Weekdays</li>
                <li>Hours pr week: @item.NoHoursPrWeek</li>
                <li>Visible on site: @item.Visible</li>
                <li>Number of students: @item.Students.Count</li>
                <li>Semester: @item.Semester</li>
            </ul>
        </div>
        <div class="col-md-4">
            <ul>
                <li>Description: @item.Description</li>
                <li>Level: @item.Level</li>
                <li>Language: @item.Language</li>
                <li>Category: @item.Category</li>
                <li>Student ids:
                    [
                    @foreach (var students in item.Students)
                    {
                         <span id="@students">@students -</span>
                    }
                    ]
                </li>
            </ul>
        </div>
        <div class="col-md-4">
            <ul style="list-style:none;">
                <li style="margin-bottom:5px;"><a asp-action="EditCourse" class="btn btn-primary eq-button" asp-route-id="@item.Id" id="edit_id">Edit</a></li>
                <li style="margin-bottom:5px;"><a asp-action="DeleteCourse" class="btn btn-danger eq-button" asp-route-id="@item.Id" id="delete_id">Delete</a></li>
                <li style="margin-bottom:5px;"><a asp-action="TemplateCourse" class="btn btn-success eq-button" asp-route-id="@item.Id" id="template_id">Template</a></li>
            </ul>
        </div>

    </div>
}
</div>