@model CourseModel

@{
    ViewData["Title"] = "Edit course";
}

<h3>Edit course</h3>

<div class="container">
    <div class="col-md-12 long">
        <form method="post" asp-action="EditCourse">
            <div class="form-group">
                <input asp-for="CourseName" class="form-control" placeholder="Enter coursename" />
                <span asp-validation-for="CourseName" class="text-danger" ></span>
            </div>
            <div class="form-group">
                <input asp-for="Room" class="form-control" placeholder="Enter roomcode" />
                <span asp-validation-for="Room" class="text-danger" ></span>
            </div>
            <div class="form-group">
                <input asp-for="TeacherId" class="form-control" placeholder="Enter teacherId" value="0" />
                <span asp-validation-for="TeacherId" class="text-danger" ></span>
            </div>
            <div class="form-group">
                <select id="category_id" asp-for="Category" class="form-control">
                    <option id="empty"> - Category - </option>
                    <option id="music"> - Music - </option>
                    <option id="science"> - Science - </option>
                    <option id="nature"> - Nature - </option>
                </select>
                <span asp-validation-for="Category" class="text-danger" ></span>
            </div>
            <div class="form-group">
                <input asp-for="NoHoursPrWeek" class="form-control" placeholder="Enter weekly hours" value="0" />
                <span asp-validation-for="NoHoursPrWeek" class="text-danger" ></span>
            </div>
            <div class="form-group">
                <select id="weekday_id" asp-for="Weekdays" class="form-control">
                    <option id="empty"> - Weekdays - </option>
                    <option id="mon"> - Monday - </option>
                    <option id="tue"> - Tuesday - </option>
                    <option id="wed"> - Wensday - </option>
                    <option id="thu"> - Thursday - </option>
                    <option id="fri"> - Friday - </option>
                </select>
                <span asp-validation-for="Weekdays" class="text-danger" ></span>
            </div>
            <div class="form-group">
                <textarea asp-for="Description" class="form-control" placeholder="Enter brief description"></textarea>
                <span asp-validation-for="Description" class="text-danger" ></span>
            </div>
            <div class="form-group">
                <input asp-for="Semester" class="form-control" placeholder="Enter semester" />
                <span asp-validation-for="Semester" class="text-danger" ></span>
            </div>
            <div class="form-group">
                <select id="language_id" asp-for="Language" class="form-control">
                    <option id="empty"> - Language - </option>
                    <option id="danish"> - Danish - </option>
                    <option id="english"> - English - </option>
                    <option id="german"> - German - </option>
                    <option id="french"> - French - </option>
                </select>
                <span asp-validation-for="Language" class="text-danger" ></span>
            </div>
            <div class="form-group">
                <select id="level_id" asp-for="Level" class="form-control">
                    <option id="empty"> - Level - </option>
                    <option id="easy"> - Beginner - </option>
                    <option id="medium"> - Medium - </option>
                    <option id="hard"> - Experienced - </option>
                    <option id="advanced"> - Advanced - </option>
                </select>
                <span asp-validation-for="Level" class="text-danger" ></span>
            </div>
            <div class="form-group">
                <input type="checkbox" asp-for="Visible" />
                <label> Visible on LES site</label>
                <span asp-validation-for="Visible" class="text-danger" ></span>
            </div>

            <div class="form-group">
                <input type="checkbox" asp-for="Archived" />
                <label> Archived</label>
                <span asp-validation-for="Archived" class="text-danger" ></span>
            </div>

            <input type="submit" value="Update course" />
        </form>
    </div>
</div>
