@{
    ViewData["Title"] = "Managing courses";
}

<h3>Managing courses</h3>
<br>
<h4 id="userMsg_id">@ViewBag.userMsg</h4>
<div class="container-flex">
    <div class="element-wrapper">
        <a class=" btn btn-secondary long" asp-action="CreateCourse">CREATE NEW COURSE</a>
        <br><span class="small-text">Click here to create a new course</span>
    </div>

    <div class="element-wrapper">
        <a class="btn btn-secondary long" asp-action="AllCourses">SHOW ALL COURSES</a>
        <br><span class="small-text">Click here to view a list of all courses, edit and delete courses</span>
    </div>

    <div class="element-wrapper">
        <a class="btn btn-secondary long" asp-action="BulkDeleteCourses">BULK DELETE COURSES</a>
        <br><span class="small-text">Click to <b>bulk</b> delete all courses that has been offered for the last 3 years</span>
    </div>

</div>