@model List<VotingModel>

<h1>List of all votes</h1>

<div class="row">
    <div class="col-md-12">
        @foreach (var item in Model) 
        {
            <div class="vote-container">
                
                <p>Id: @item.Id</p>
                <br/>
                <p> Create Date: @item.CreatedAt</p>
                <br/>
                <a asp-action="Vote" class="btn btn-primary" asp-route-id="@item.Id">See vote</a>
            </div>
            <br/>
            
        }
    </div>
</div>