@model VotingViewModel

<h1>Vote creation page</h1>
<div class="row">
    <form method="post">
    <div id="CoursesList" class="col-md-6">
        <h3>All Courses</h3>
        @foreach (var item in Model.AllCourses)
        {
            <div class="course-container">
                <h3>@item.CourseName</h3>
                <div>
                    <ul>
                        <li>@item.Id</li>
                        <li>@item.Description</li>
                        <li>@item.Level</li>
                        <li>@item.Language</li>
                        <li>@item.Category</li>
                        
                    </ul>
                </div>
                <h4>Add this course</h4>
                <input type="checkbox" name="courseCheckbox" value=@item.Id>
            </div>
        }
    </div>
    <div id="CoursesAdded" class="col-md-6">
        <input type="submit" class="btn btn-primary" value="Create vote" />
    </div>
    </form>
</div>