<h1>Administration af afstemninger</h1>
<br>
<h4 id="userMsg_id">@ViewBag.userMsg</h4>
<div class="container-flex">

    <a class="btn btn-primary element-wrapper long" asp-action="CreateVote">Create new vote</a>
    <a class="btn btn-primary element-wrapper long" asp-action="AllVotes">See all votes</a>

</div>