@model VotingModel

<form method="post" asp-action="Vote">
    <div class="col-md-12">
        @foreach (var course in Model.Courses)
        {
            <div class="vote-course-container">
                <p>Id: @course.Id</p>
                <p>Name: @course.CourseName</p> 
                <p>Category: @course.Category</p> 
                @if(Model.Active) {
                    <div>
                        Vote <input type="checkbox" name="courseCheckbox" value="@course.Id">
                    </div>
                } else {
                    <h2>Total votes: @course.Votes</h2>
                }
            </div>
            <br/>
        }
    </div>
    <div class="">
        <input type="submit" class="btn btn-primary" value="Finish your vote" />
    </div>
</form>
<form method="post" asp-action="DisableVote">
    <div>
        <input type="hidden" name="VoteId" value="@Model.Id" />  
        <input type="submit" class="btn btn-primary" value="Terminate this vote"/>
    </div>
</form>