@model List<LandingModel>;

@{
    ViewData["Title"] = "Landing";
}
<div class="container">
    @for (int i = 0; i < Model.Count(); i++)
    {

        <div class="col-md-3 element-wrapper"> <b>@Model[i].FeatureName</b> <br>
            <div class="small-text">
                <span ><br>Lorem ipsum dolor sit amet, aliquet  mollis.<br> 
                        Aliquet lacus et nascetur, non aliquam.<br> 
                        Aliquam volutpat enim et sed, venenatis rhoncus primis dignissim
                </span>
            </div>
        <br>
            <a asp-action="Index" class="btn btn-secondary" asp-controller="@Model[i].ControllerName" id="@i"  >Continue to page</a>
        </div>
    }
</div>