@model UserModel

@{
    ViewData["Title"] = "Login";
}

<div class="text-center">

<h3>LES administrative-module</h3>
<p>Enter credentials :</p><br>
<br>
<h5 class="text-danger" id="message_id">@ViewData["message"]</h5>
<form method="post">
    <div class="form-group">
        <input asp-for="UserName" placeholder="Enter UserName" /><br>
        <span asp-validation-for="UserName" id="username_validation_id" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input asp-for="Password" type="password" placeholder="Enter Password" /><br>
        <span asp-validation-for="Password" id="password_validation_id" class="text-danger"></span>
    </div>
    <div><br>
        <input type="submit" value="Sign in" id="submit_id" class="btn btn-primary" />
    </div>
    
</form>

</div>


